<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="margin-left: 15px">KudwiTransform</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
      
      <ul class="nav navbar-nav navbar-right">
       <li href="" class="dropdown-toggle profile-image"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img src="{{profile.picture}}" class="img-circle"> 
            <span style="color: grey; font-size: 20px"> {{profile.nickname}} </span>
          <button class="btn-sm btn-warning" ng-click="logout()">Logout</button>

          </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<br>
  <br>

<div class="container">
          <div class="row" style="padding: 10px">
            <h1 class="cover-heading">Survey Completed!</h1>
            <p class="lead">Thank you for taking your time to complete the survey. Please share the survey (below url) with your friends.</p>
            <a href="http://www.kudwitransform.com?survey={{surveyid}}">
            www.kudwitransform.com?survey={{surveyid}}</a>
          </div>


        </div>