.login-page .login-box {
  padding: 100px 0;
  padding-right: 800px;

}
/*.login-box p{
	text-align: "justify";
}*/
.logintxt{
	text-align: "justify";
	POSITION: absolute;
    PADDING-LEFT: 800PX;
    MARGIN-TOP: -50PX;
    color: #FFFFFF;
    /*background-color: #FF0056;*/
}

.login-box .title{
	font-size: "x-large";
	font-family: "verdana";
	text-align: center;
}
.login-page{
background:url('loginbg2.jpg')no-repeat;
background-size:100%;
/*height: 100%;*/
height: inherit;
display:block;
padding:0 !important;
margin:0;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
.signinbtn{width: 300px;}
.title{color: #ffffff; margin-top: 100px;}
/*#loginbtn{width: 300px; margin-left: 800px;}*/
#titlemsg{font-size: 50px;font-weight: bold;}
.btn-block {
    display: block;
    width: 300px;
	}
header{background-image:url('loginbg.jpg');background-repeat:none;background-attachment:scroll;background-position:center center;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;-o-background-size:cover;text-align:center;color:#fff}
header .intro-text{padding-top:100px;padding-bottom:50px}
header .intro-text .intro-lead-in{font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;font-style:italic;font-size:22px;line-height:22px;margin-bottom:25px}
header .intro-text .intro-heading{font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;font-size:50px;line-height:50px;margin-bottom:25px}@media (min-width:768px)}
header .intro-text{padding-top:300px;padding-bottom:200px}
header .intro-text .intro-lead-in{font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;font-style:italic;font-size:40px;line-height:40px;margin-bottom:25px}
header .intro-text .intro-heading{font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;font-size:75px;line-height:75px;margin-bottom:50px}
