<!-- <div class="login-page clearfix">
  <div class="login-box auth0-box">

    <h1 class="title">MAKE YOUR VOICE <br>COUNT</h1><br>
	<div class="msgtxt">
  <p class="logintxt">The purpose of this survey is to get your opinion on the performance of your local governing bodies. This is a very short survey and will take only a few seconds.</p>
</div>
	</div>
    
  <div class="container">
    <div class ="signinbtn">

    <br><br>
    <a ng-click="login()" class="btn btn-primary btn-md btn-block">SIGN IN</a><br><br>
  </div>
</div>
</div>
 -->

    <!-- <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">KUDWI</a>
            </div>

        </div>
    </nav> -->

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="row">
                  
                    <div class="col-md-3">
                    <small>A survey on basic, operational and developmental growth in your area.</small>
                    <p id="titlemsg">Make YOUR voice count</p></div>
                </div>
                <br>
                <div class="row">

                    <div id="loginbtn"class="col-md-3"><a ng-click="login()" class="btn btn-warning btn-md btn-block">Sign In</a></div>
                    
                </div>
            </div>
        </div><br><br><br>
    </header>