<!-- <nav id="topnav" class="navbar navbar-default navbar-fixed-top">
   <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">KUDWI TRANSFORM</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav> -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="margin-left: 15px">KudwiTransform</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
      
      <ul class="nav navbar-nav navbar-right">
       <li href="" class="dropdown-toggle profile-image"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img src="{{auth.profile.picture}}" class="img-circle"> 
            <span style="color: grey; font-size: 20px"> {{auth.profile.nickname}} </span>
          <button class="btn-sm btn-warning" ng-click="logout()">Logout</button>

          </li>
       <!--  <li class="dropdown">
          <a href="" class="dropdown-toggle profile-image"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img src="{{auth.profile.picture}}" class="img-circle"> <b class="caret"></b>
          </a>
        </li>
        <ul class="dropdown-menu">
        <li>
        </li>
        </ul> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- <div class="home"></div> -->
  <!-- <h1 id="logo"><img src="/home/kudwi_logo_RGB.png" /></h1> -->


  <br>
  <br>


  <div class="container" > 
    <div class="row" style="padding:10px">
      <p>Welcome <b>{{auth.profile.name}}</b>!</p>
      <p>Your participation in this survey is very important to us! There are 11 questions and should take less than 3 minutes to complete. </p>
    </div>
    


    <div class="row">
  		
        <div id="question">
            <p>  1. Basic Necessities</p>
        </div>
    </div>
       

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">1.1
                        <span class="glyphicon glyphicon-arrow-right"></span>Are you satisfied with the availability of drinking water supply in your area?
                    </h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="q11" ng-model="survey.q11" value="1">
                                    Yes
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="q11" ng-model="survey.q11" value="0">
                                    No
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="q11" ng-model="survey.q11" value="2">
                                    Not sure
                                </label>
                            </div>
                        </li>
                      </ul>
            </div></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">1.2
                        <span class="glyphicon glyphicon-arrow-right"></span>Are you satisfied with the power supply in your area?
                    </h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="q12" ng-model="survey.q12" value="1">
                                    Yes
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="q12" ng-model="survey.q12" value="0">
                                    No
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="q12" ng-model="survey.q12" value="2">
                                    Not sure
                                </label>
                            </div>
                        </li>
                      </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">1.3
                        <span class="glyphicon glyphicon-arrow-right"></span>Are you satisfied with the functioning of government health services in your area?
                    </h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="q13" ng-model="survey.q13" value="1">
                                    Yes
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="q13" ng-model="survey.q13" value="0">
                                    No
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="q13" ng-model="survey.q13" value="2">
                                    Not sure
                                </label>
                            </div>
                        </li>
                      </ul>
                </div>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">1.4
                        <span class="glyphicon glyphicon-arrow-right"></span>Are you satisfied with the functioning of ration shops in your area?
                    </h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="q14" ng-model="survey.q14" value="1">
                                    Yes
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="q14" ng-model="survey.q14" value="0">
                                    No
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="q14" ng-model="survey.q14" value="2">
                                    Not sure
                                </label>
                            </div>
                        </li>
                      </ul>
                </div>
          </div>
      </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">1.5
                        <span class="glyphicon glyphicon-arrow-right"></span>Are you satisfied with the performance of the local police in your area?
                    </h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="q15" ng-model="survey.q15" value="1">
                                    Yes
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="q15" ng-model="survey.q15" value="0">
                                    No
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="q15" ng-model="survey.q15" value="2">
                                    Not sure
                                </label>
                            </div>
                        </li>
                      </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
      
        <div id="question">
            <p>  2. Operational Necessities</p>
        </div>
     </div>

      <div class="row">
          <div class="col-md-12">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                      <h3 class="panel-title">2.1
                          <span class="glyphicon glyphicon-arrow-right"></span>Are the roads in your area properly maintained?
                      </h3>
                  </div>
                  <div class="panel-body">
                      <ul class="list-group">
                          <li class="list-group-item">
                              <div class="radio">
                                  <label>
                                      <input type="radio" name="q21" ng-model="survey.q21" value="1">
                                      Yes
                                  </label>
                              </div>
                          </li>
                          <li class="list-group-item">
                              <div class="radio">
                                  <label>
                                      <input type="radio" name="q21" ng-model="survey.q21" value="0">
                                      No
                                  </label>
                              </div>
                          </li>
                          <li class="list-group-item">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="q21" ng-model="survey.q21" value="2">
                                    Not sure
                                </label>
                            </div>
                        </li>
                        </ul>
                  </div>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                      <h3 class="panel-title">2.2
                          <span class="glyphicon glyphicon-arrow-right"></span>Is the waste disposal system (drainage clearance, underground sewage connection, garbage disposal etc..) maintained properly in your area?
                      </h3>
                  </div>
                  <div class="panel-body">
                      <ul class="list-group">
                          <li class="list-group-item">
                              <div class="radio">
                                  <label>
                                      <input type="radio" name="q22" ng-model="survey.q22" value="1">
                                      Yes
                                  </label>
                              </div>
                          </li>
                          <li class="list-group-item">
                              <div class="radio">
                                  <label>
                                      <input type="radio" name="q22" ng-model="survey.q22" value="0">
                                      No
                                  </label>
                              </div>
                          </li>
                          <li class="list-group-item">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="q22" ng-model="survey.q22" value="2">
                                    Not sure
                                </label>
                            </div>
                        </li>
                        </ul>
                  </div>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                      <h3 class="panel-title">2.3
                          <span class="glyphicon glyphicon-arrow-right"></span>Are the public transport services functioning well in your area?
                      </h3>
                  </div>
                  <div class="panel-body">
                      <ul class="list-group">
                          <li class="list-group-item">
                              <div class="radio">
                                  <label>
                                      <input type="radio" name="q23" ng-model="survey.q23" value="1">
                                      Yes
                                  </label>
                              </div>
                          </li>
                          <li class="list-group-item">
                              <div class="radio">
                                  <label>
                                      <input type="radio" name="q23" ng-model="survey.q23" value="0">
                                      No
                                  </label>
                              </div>
                          </li>
                          <li class="list-group-item">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="q23" ng-model="survey.q23" value="2">
                                    Not sure
                                </label>
                            </div>
                        </li>
                        </ul>
                  </div>
            </div>
        </div>
      </div>

      <div class="row">
      
        <div id="question">
            <p>  3. Development</p>
        </div>
    </div>

      <div class="row">
          <div class="col-md-12">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                      <h3 class="panel-title">3.1
                          <span class="glyphicon glyphicon-arrow-right"></span>Do you think that government officials in various departments viz.electricity, police, PWD etc., are functioning effectively?
                      </h3>
                  </div>
                  <div class="panel-body">
                      <ul class="list-group">
                          <li class="list-group-item">
                              <div class="radio">
                                  <label>
                                      <input type="radio" name="q31" ng-model="survey.q31" value="1">
                                      Yes
                                  </label>
                              </div>
                          </li>
                          <li class="list-group-item">
                              <div class="radio">
                                  <label>
                                      <input type="radio" name="q31" ng-model="survey.q31" value="0">
                                      No
                                  </label>
                              </div>
                          </li>
                          <li class="list-group-item">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="q31" ng-model="survey.q31" value="2">
                                    Not sure
                                </label>
                            </div>
                        </li>
                        </ul>
                  </div>
            </div>
        </div>
  </div>

      <div class="row">
          <div class="col-md-12">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                      <h3 class="panel-title">3.2
                          <span class="glyphicon glyphicon-arrow-right"></span>Do you think government has created ample employment opportunities?
                      </h3>
                  </div>
                  <div class="panel-body">
                      <ul class="list-group">
                          <li class="list-group-item">
                              <div class="radio">
                                  <label>
                                      <input type="radio" name="q32" ng-model="survey.q32" value="1">
                                      Yes
                                  </label>
                              </div>
                          </li>
                          <li class="list-group-item">
                              <div class="radio">
                                  <label>
                                      <input type="radio" name="q32" ng-model="survey.q32" value="0">
                                      No
                                  </label>
                              </div>
                          </li>
                          <li class="list-group-item">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="q132" ng-model="survey.q32" value="2">
                                    Not sure
                                </label>
                            </div>
                        </li>
                        </ul>
                  </div>
            </div>
      </div>
      </div>

      <div class="row">
          <div class="col-md-12">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                      <h3 class="panel-title">3.3
                          <span class="glyphicon glyphicon-arrow-right"></span>Are the government telecom and internet services working effectively in your area? 
                      </h3>
                  </div>
                  <div class="panel-body">
                      <ul class="list-group">
                          <li class="list-group-item">
                              <div class="radio">
                                  <label>
                                      <input type="radio" name="q33" ng-model="survey.q33" value="1">
                                      Yes
                                  </label>
                              </div>
                          </li>
                          <li class="list-group-item">
                              <div class="radio">
                                  <label>
                                      <input type="radio" name="q33" ng-model="survey.q33" value="0">
                                      No
                                  </label>
                              </div>
                          </li>
                          <li class="list-group-item">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="q33" ng-model="survey.q33" value="2">
                                    Not sure
                                </label>
                            </div>
                        </li>
                        </ul>
                  </div>
            </div>
        </div>
      </div>

  <div class="row" style="text-align: center">
  <div class="row">
      <label >Please enter your pincode here   </label>
      <input class="zipcode" type="text" placeholder="Eg., 600044" name="zip" ng-model="pincode">
      <br>
      <br>
    </div>

    <p class ="footermsg" ng-show="isAnyUnanswered()"> All questions must be answered and a valid pincode must be entered to enable the submit button</p>
  <button class="btn btn-success" ng-click="submitResponse()" ng-disabled="isAnyUnanswered()">Submit Response</button> 
  </div>
  <!-- <button class="btn-sm btn-warning" ng-click="logout()">Logout</button> -->
</div>
