body{
  font-family: "proxima-nova",sans-serif;
  text-align: left;
  font-size: 300%;
  font-weight: 100;
}

input[type=checkbox],
input[type=radio] {
  position: absolute;
  opacity: 0;
}
input[type=checkbox] + label,
input[type=radio] + label {
  display: inline-block;
}
input[type=checkbox] + label:before,
input[type=radio] + label:before {
  content: "";
  display: inline-block;
  vertical-align: -0.2em;
  width: 1em;
  height: 1em;
  border: 0.15em solid #0074d9;
  border-radius: 0.2em;
  margin-right: 0.3em;
  background-color: white;
}
input[type=radio] + label:before {
  border-radius: 50%;
}
input[type=radio]:checked + label:before,
input[type=checkbox]:checked + label:before {
  background-color: #0074d9;
  box-shadow: inset 0 0 0 0.15em white;
}
input[type=radio]:focus + label:before,
input[type=checkbox]:focus + label:before {
  outline: 0;
}

.btn{
  font-size: 140%;
  /*text-transform: uppercase;*/
  letter-spacing: 1px;
  border: 0;
  /*background-color: #16214D;*/
  color: white;
/*
  &:hover{
    background-color: #44C7F4;
  }

  &:focus{
    outline: none !important;
  }

  &.btn-lg{
    padding: 20px 30px;
  }

  &:disabled{
    background-color: #333;
    color: #666;
  }*/
}

h1,h2,h3{
  font-weight: 100;
}

#logo img{
  width: 300px;
  margin-bottom: 60px;
}

.home-description{
  font-weight: 100;
  margin: 100px 0;
}

h2.ng-binding{
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 200%
}

label.ng-binding{
  font-size: 100%;
  font-weight: 300;
}

.btn-next{
  margin-top: 30px
}

.answer{
  width: 70%;
  margin: auto;
  text-align: left;
  padding-left: 10%;
  margin-bottom: 20px;
}
#question{
text-align: center;
background-color: #ff9900;
}
#question p{
  font-weight: 50px;
  font-family: verdana;
  color: #FFFFFF;
}
#question_box{
  border-color: #ffe43e;
  border-style: double;
}
.profileimg{
   height: 100px;
   width: 100px;
   margin-top: 30px;
}
.profileimg p{
  padding-left: 100px;
  margin-top: -88px;
}
input[type=radio] {
    position: absolute;
    opacity: 100;
}

  
.panel-body:not(.two-col) { padding:0px }
.glyphicon { margin-right:5px; }
.glyphicon-new-window { margin-left:5px; }
.panel-body .radio,.panel-body .checkbox {margin-top: 0px;margin-bottom: 0px;}
.panel-body .list-group {margin-bottom: 5px;margin-left: 10px;}
/*.margin-bottom-none { margin-bottom: 0; }*/
.panel-body .radio label,.panel-body .checkbox label { display:block; }
.panel-title {font-size: 30px;}
.radio label {font-size: 15px}
.row {margin-right: 0px; margin-left:0px;}
.container{padding-left: 0px; padding-right: 0px;}
.list-group li{display: inline-block;}

#topnav{ background-color: #0099cc; margin-bottom: 20px;}
.navbar-brand{font-size: 20px;font-weight: bold; }
.navbar-right{margin-right: 15px; margin-left: 15px; }

.profile-image  {
  padding-top: 0px;
  padding-bottom: 0px;
}

.profile-image img {
  max-height:30px;
  width:auto;
  vertical-align:middle;
}

.welcometext
{
   padding-left: 100px;
}

.glyphicon
{
  font-size: 20px;
  color: #ffe43e;
}
.footermsg {font-size: 30px; color: red}

.list-group-item {
  border: none;
}